.Home {
    position: relative;
    width: 100%;
    height: 1000px;
    padding-top: 6vh;
    background-color: #e1e5ff;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    color: #283A69;
    border: 2px solid #283A69;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}


.s {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.menu {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.menu-items {
    position: relative;
    display: flex;
    gap: 5px;
    padding: 10px 25px;
    font-size: 0.8rem;
    border-radius: 20px;
    transition: transform 0.2s;
}

.bar {
    margin: 0px;
    padding: 6px 5px;
    border-radius: 50px;
}

.select-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(10, 1fr);
    padding: 15px;
    gap: 10px;
    align-items: start;
    overflow-y: auto;
    height: 70vh;
    position: relative;
}


.select-box-items {
    padding: 20px 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    margin: 0;
    background-color: #f0f4ff;
    transition: background-color 0.3s ease;
}

.key {
    position: absolute;
    bottom: 8vh;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.key1 {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 90px 90px 0px 0px;
}


.arrow1 {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    transform: rotate(45deg);
}

.arrow2 {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    transform: rotate(-135deg);
}

.key_image {
    position: absolute;
}
