.roomImg {
    position: relative;
    margin-bottom: 10rem;
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
}

.arrow{
    position: absolute;
    top: 30px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-left: 6px solid black;
    border-bottom: 6px solid black;
    transform: rotate(45deg);
}

.reservation-board{
    position: absolute;
    top:90%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}


.reservation-location {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 50px;
    background-color: white;
    height: 11vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.locationImg{
    height: 3vh;
    /*padding-top: 2vh;*/
    padding-right: 10px;
    padding-bottom: 20px;
}

.reservation-info {
    padding-top: 30px;
    gap: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.date{
    font-size: 1.2rem;
}

.done-button {
    width: 70%;
    height: 70%;
}

.reservation-time {
    background-color: rgba(192, 200, 248, 1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    color: white;
    height: 70vh;
}


.timeSlot:hover{
    background-color: #202963;
}



.clicked {
    background-color: #202963;
    margin: 10px 0;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

.no-clicked{
    background-color: #4e5fc1;
    /*background-color: #983131;*/

    margin: 10px 0;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

.no-reserved {
    /*background-color: #4e5fc1;*/
    /*background-color: #983131;*/

    margin: 10px 0;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

.reserved {
    background-color: #d9d9d9;
    margin: 10px 0;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

.reservation-time-slot {
    box-sizing: border-box;
    width: 17rem;
    border-radius: 30%;
}